<template>
<div class="table-responsive">
<table>
  <thead>
    <tr :style="{color:header.color, background:header.bg}">
      <th style="width:105px;">
        <div class="arrows" v-on:click="sortTable('id',true)">
          {{header.id}}
          <span v-if="sortColumn=='id'" v-bind:class="ascending?'up':'down'"></span>
        </div>
        <div class="filter">
        <input style="width:50px;" type="text" v-bind:value="id" v-on:input="id = $event.target.value">
        <button title="clear" v-on:click="id=''"><i class="fa fa-eraser"></i></button>
        </div>
      </th>
      <th style="width:207px;">{{header.first_name}}<br></th> 
      <th style="width:207px;">
        <div class="arrows" v-on:click="sortTable('last_name')">
          {{header.last_name}}
          <span v-if="sortColumn=='last_name'" v-bind:class="ascending?'up':'down'"></span>
        </div>
        <div class="filter">
        <input type="text" style="width:150px;" v-bind:value="lastName" v-on:input="lastName = $event.target.value">
        <button title="clear" v-on:click="lastName=''"><i class="fa fa-eraser"></i></button>
        </div>
      </th> 
      <th>{{header.sponsor}}<br></th>
      <th>{{header.actions}}<br></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="row in get_rows()">
      <td>{{row.id}}</td>
      <td>{{row.first_name}}</td>
      <td>{{row.last_name}}</td>
      <td>{{row.sponsor}}</td>
      <td><button class="btn btn-danger" v-on:click="showModal(row.id)">{{header.dissable_sponsor}}</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
       <div class="justify-content-between">
        <label>
        <select v-model="pageSize" title="Rows per page">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>0
        </select>
        Rows per page
        </label>
        <div>
          <button class="pagination" title="First Page" v-on:click="gotoPage(1)">
            <i class="fa fa-angle-double-left"></i>        
          </button>
          
          <button class="pagination" title="Previous Page" v-on:click="gotoPage(currentPage-1)">
            <i class="fa fa-angle-left"></i>            
          </button>
          
          <span class="pagination" title="Current Page"> {{currentPage}}</span>
          
          <button class="pagination" title="Next Page" v-on:click="gotoPage(currentPage+1)">
            <i class="fa fa-angle-right"></i>           
          </button>
          
          <button class="pagination" title="Last Page" v-on:click="gotoPage(pages)">
            <i class="fa fa-angle-double-right"></i>         
          </button>
          
          <span class="pagination" title="Total Pages">Total pages {{pages}}</span>
        </div>
       </div>
      </td>
    </tr>
  </tfoot>
</table>
<div class="af_modal" v-show="modalShow">
    <div class="content">
        <p class="text-danger">{{header.confirm}}</p>
        <button class="btn btn-primary" v-on:click="removeSponsor(true)">Yes</button>
        <button class="btn btn-primary" v-on:click="removeSponsor(false)">No</button>
    <div>
</div>
</div>
</template>

<script>
  export default {
  data: function () {
   return {    
    id: '',
    lastName: '',
    ascending: true,
    sortColumn: '',
    pageSize: 10,
    currentPage: 1,
    rows: this.affiliates,
    modalShow: false,
    removableId: -1,
   }
  },
  props: {
    affiliates:Object,
    header:{type:Object, default:{
                                    id:'ID',
                                    first_name:'First Name',
                                    last_name:'Last Name',
                                    sponsor:'Sponsor',
                                    actions: "Actions",
                                    dissable_sponsor: 'dissable sponsor',
                                    confirm: "Want to really disable a sponsor?",
                                    color:'white',
                                    hover:'green',
                                    bg:'#333',
                                 }
    },
  },
  computed: {
        filteredList_id: function() {
          var tmp = this.id;
          return this.rows.filter(function (elem) {          
                 if(tmp==='') return true;
                 else return elem.id.indexOf(tmp) == 0;
              })
           },
       filteredList_lastName: function() {
          var tmp = this.lastName.toLowerCase();
          return this.rows.filter(function (elem) {          
                 if(tmp==='') return true;
                 else return elem.last_name.toLowerCase().indexOf(tmp) == 0;
              })
           },
       filteredList: function() {
        var lst1 = this.filteredList_id;
        var lst2 = this.filteredList_lastName;
        if(lst1.length==0) return lst2;
        if(lst2.length==0) return lst1;
        return lst1.filter(function (elem1){
          return lst2.find(function (elem2){
            return elem1==elem2;
              });
            });
           },
       pages: function(){
            return Math.ceil(this.filteredList.length/this.pageSize);
           },
    },
   watch: {
        pages: function(val){
          this.currentPage = 1;
        },
   },
    methods: {
        "sortTable": function sortTable(col,isnumber=false) {
            if (this.sortColumn === col) {
              this.ascending = !this.ascending;
            } else {
              this.ascending = true;
              this.sortColumn = col;
            }

          var ascending = this.ascending;

          this.rows.sort(function(a, b) {
            if(isnumber){
              if (parseInt(a[col]) > parseInt(b[col])) {
           return ascending ? 1:-1;
              } else if (parseInt(a[col]) < parseInt(b[col])) {
           return  ascending ? -1:1;
              }
            }else{
              if (a[col] > b[col]) {
                return ascending ? 1:-1;
              } else if (a[col] < b[col]) {
                return ascending ? -1:1;
              }
            }        
            return 0;
          })
        },
        "gotoPage": function gotoPage(val){
            var i = (val==0)?1:(val>this.pages)?this.pages:val;     
            this.currentPage = i;
        },
        "get_rows": function get_rows() {
            var start = (this.currentPage-1) * parseInt(this.pageSize);
            var end = start + parseInt(this.pageSize);
            return this.filteredList.slice(start, end);
         },
        "showModal": function showModal(id){
            this.removableId = id;
            this.modalShow = true;
        },
        "removeSponsor": function removeSponsor(val){
            if(val){
                var id = this.removableId;                
                for( var i = 0; i < this.rows.length; i++){
                    if ( this.rows[i].id === id){
                        var j = i;
                        axios.put('/admin/affiliate-program/sposor-dissable', {
                        id: id
                        }).then(function (response){
                            this.rows.splice(j, 1);
                        }.bind(this));                        
                    }
                }
            }
            this.removableId = -1;
            this.modalShow = false;
        },
  },
}    
</script>

<style scoped>
table {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #44475C;
}

table th {
  text-align: left;
  padding: 8px;
  min-width: 30px;
}
table th > .arrows {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  padding: 3px;
  text-decoration: none;
}
table th > .arrows:hover {
  text-decoration: underline;
}
table th > .arrows .up{
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;  
  border-bottom: 12px solid #fff;  
}
table th > .arrows .down{
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;  
  border-top: 12px solid #fff;  
}
table th > button {
  color: red;
  background: white;
}
table td {
  text-align: left;
  padding: 8px;
  border-right: 2px solid #7D82A8;
}
table td:last-child {
  border-right: none;
}
table tbody tr:nth-child(2n) td {
  background: #D4D8F9;
}
table > tfoot > tr > td {
  padding: 0;
  border-top: 3px solid black;
}
table > tfoot > tr > td div {
  background: #ccc;
  padding: 3px 7px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 36px;
}
.justify-content-between {
  justify-content: space-between;
}
.pagination {  
  display: inline-block;
  padding: 2px 7px;
  min-width: 35px;
  font-weight: 700;
  background: #44475C;
  color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
  margin-left:3px;
}
.pagination:hover {
  background: #717699;
  color: #fff;
  border: 1px solid #fff;
}
.filter {
  display: inline-block;
  color: black;
}
thead:hover .filter {
  display: inline-block;
}
label {
  font-size: 16px;
  visibility: hidden;
}
tfoot:hover label {
  visibility: visible;
}
.af_modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}
.af_modal > .content {
    position: fixed;
    z-index: 13;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    border-radius: 2px;
    width: 70%;
    max-width: 320px;
    min-height: 50px;
    font-size: 18px;
    border: 1px solid red;
}
.af_modal > .content button {
    width: 100px;
}
</style>
