<template>
                    <div class="profile-image-data">
        		<figure class="user-avatar medium">
                            <img :src="src" alt="Avatar" v-cloak class="img img-circle" style="box-shadow:rgba(20, 23, 28, 0.1) 0px 0px 1px 1px, rgba(20, 23, 28, 0.1) 0px 3px 1px 0px;">
        		</figure>
        		<p class="help-block" v-cloak>{{saveStatus}}</p>
        		<image-upload
                            :class="['btn btn-xs btn-success']"
                            text="Browse image..."
                            @imageuploaded="fileUploaded"
                            @imageuploading="saveStatus='Processing...'"
                            extensions="png,jpeg,jpg,gif"
                            :max-file-size="5242880"
                            compress="50"
                            :url="uploadURL">
                        </image-upload>
                    </div>
</template>
<script>
    import imageUpload from 'vue-core-image-upload';

    export default {
        data: function () {
            return {
                saveStatus: null,
                src: ''                 
            }
        },    
        
        components: {
            imageUpload
        },
        
        props: [
            'user',
            'gravatar'
        ],
        
        computed: {
            uploadURL: function() {
                return '/api/avatar/' + this.user.username
            }
        },

        methods: {
            
            fileUploaded(response) {
                this.saveStatus = 'Upload complete';
                setTimeout(() => {
                   this.saveStatus = null 
                }, 3000);
                    
                this.src=response;  
            },


        },
        
        mounted() {
            this.src=this.gravatar;
        }
        
    }
</script>