<template>
<div :class="m_class" :style="m_style" v-cloak>
    <div class="mc-item mc-item-1">
        <div class="image-heading">
            <a :href="course.url">
                <img :src="source" style="max-width: 100%;" :alt="course.slug" loading="auto">
            </a>
        </div>
        <div class="meta-categories"><a :href="course.categoryUrl">{{ course.categoryName }}</a></div>
        <div class="content-item">
            <div class="image-author">
                <img :src="sourceAuthor" alt="">
            </div>
            <h4 style="height:40px;"><a :href="course.url">{{ course.title }}</a></h4>
            {{ Math.floor(total_video_duration / 60) }} h {{ total_video_duration % 60 }} min
            <div class="name-author">
                <a :href="course.authorUrl">{{ course.author.name }}</a>
            </div>
        </div>
        <hr style="margin:0">
        <star-rating
            :inline="true"
            :show-rating="false"
            :increment="0.1"
            :rating="parseFloat(course.average_rating)"
            :read-only="true"
            :star-size="parseInt(20)"
            active-color="gold"
            style="margin-left:15px;">
        </star-rating>
        <div class="price-232" style="display:flex;justify-content:space-between;padding:15px 10px;font-size:18px;font-weight:600;color:#0d568a;">
            <div>
                <button
                        type="button"
                        class="btn btn-info btn-xs"
                        @click="setModal(domain + '/courses/' + course.slug + '/learn?ref=' + course.affiliateLink)"
                        v-if="course.affiliate">
                        {{ promoteCourse }}
                </button>
            </div>
            <div v-if="course.price">{{ currencySymbol + course.price }}</div>
            <div v-else>FREE</div>
        </div>
    </div>
</div>
</template>

<script>
    import StarRating from 'vue-star-rating'
    export default {
        components: {
            StarRating,
        },
        props:{
            currencySymbol: String,
            promoteCourse: String,
            copyAffiliateLink: String,
            modalClose: String,
            domain: String,
            course: Object,
            m_style: String,
            m_class: String,
            total_video_duration: String,
        },

        data: function () {
            return {
                Link: '',
                source: '',
                sourceAuthor: '',
            }
        },
        methods: {
            setModal: function(affiliateLink){
                this.Link = affiliateLink;
                $('#affiliateLink #promoLink').val(this.Link);
                $('#affiliateLink').modal('show');
            },
        },
        mounted: function () {
        this.$nextTick(function () {
            setTimeout(() => {
                this.source = this.course.image;
                this.sourceAuthor = this.course.authorPicture;
                },100);
        })
      },
    }
</script>

<style scoped>
[v-cloak] > * { display:none; }
[v-cloak]::before { content: "loading..."; }
        .mc-section-3 {
            padding: 20px 0 0;
        }
        .mc-section-3 .title-box {
            padding-bottom:12px;
        }

.mc-item {
  position: relative;
  background-color: #fff;
  min-height: 300px;
  min-width: 206px;
}
.mc-item .image-heading {
  overflow: hidden;
}
.mc-item .image-heading img {
  width: 100%;
}
.mc-item .meta-categories {
  position: absolute;
  top: 10px;
  left: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  padding: 0 8px;
  background-color: #0d568a;
}
.mc-item .meta-categories a {
  color: #fff;
}
.mc-item .content-item {
  position: relative;
  padding: 10px;
}
.mc-item h4 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #666;
  line-height: 1.3em;
  margin: 0;
}
.mc-item h4 a {
  color: #666;
}
.mc-item h4:hover {
  color: #37abf2;
}
.mc-item h4:hover a {
  color: #37abf2;
}
.mc-item .image-author {
  position: absolute;
  top: -20px;
  left: 10px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.mc-item .image-author img {
  width: 100%;
}
.mc-item .name-author {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #646472;
  margin-top: 18px;
}
.mc-item .name-author a {
  color: #0d568a;
  font-weight: 700;
}
.mc-item .ft-item {
  position: relative;
  padding: 18px 10px;
}
.mc-item .ft-item .price {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #37abf2;
  bottom: 15px;
  right: 15px;
  text-align: center;
}
.mc-item .ft-item .price .price-old {
  display: block;
  font-size: 16px;
  color: #a6a6a6;
  margin-top: 5px;
  text-decoration: line-through;
}
.mc-item .ft-item .view-info,
.mc-item .ft-item .comment-info {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  margin-right: 12px;
}
.mc-item .ft-item .view-info .icon,
.mc-item .ft-item .comment-info .icon {
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
}
.mc-item-1 .ft-item {
  border: 1px solid #eee;
}
.mc-item-1:hover .content-item {
  border-color: #ccc !important;
}
.mc-item-1:hover .ft-item {
  border-color: #ccc;
}
.mc-item-1 {
    box-shadow: 3px 3px 1px #ccc, -1px -1px 1px #ccc;
    margin: 0 15px 15px!important;
    border: 1px solid #eee;
}

@media (min-width: 100px) and (max-width: 600px) {

    .mc-item .image-heading {
        width: 50%;
        float: left;
        padding-right: 5px;
    }

    .mc-item {
        min-height: 175px;
    }

    .mc-item .content-item {
        width: 50%;
        float: right;
    }

    .mc-item .content-item .image-author {
        top: 82px;
        left: -155px;
    }



    .mc-item .vue-star-rating {
        width: 50%;
        float: right;
    }

    .mc-item .price-232 {
        width: 50%;
        float: right;
    }
}


</style>
