<template>
    <section class="mc-section-3 section">
        <div class="container">
            <div class="feature-course">
                <h4 class="title-box"><b>{{ titleBox }}</b></h4>
                <div class="spinner">
                    <center>
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw text-muted"></i>
                    </center>
                </div>
                <div class="row">
                    <div class="popular-slider owl-theme">

<div class="mc-item mc-item-1" v-for="item in instructors">
    <div class="image-heading">
        <a :href="item.userUrl">
            <img :src="item.picture" style="max-width: 100%;" alt="">
        </a>
    </div>    
    <div class="content-item">        
        <h4><a :href="item.userUrl">{{ item.full_name }}</a></h4>
        <p>{{ item.tagline }}</p>
    </div>
    <div class="footer">
        <p><span>{{ item.students_count }}</span> {{tParticipants}}</p>
        <p><span>{{ item.courses_count }}</span> {{tCourses}}</p>
    </div>
</div>
                       
                    </div>
                </div>                    
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        props:{
            titleBox: String,
            tParticipants: String,
            tCourses: String,
            carouselItems: {type: Number, default: 4},
            carouselItemsDesktop : {type: Array, default: [1199,4]},
            carouselItemsDesktopSmall : {type: Array, default: [979,2]},
            carouselItemsTablet: {type: Array, default: [768,1]},
            carouselItemsTabletSmall: {type: Array, default: [600,1]},
        },

        data: function () {
            return {
                instructors: [],                
            }
        },

        mounted: function() {
            axios.get('/instructors/popular/fetch').then(function (response) {
                this.instructors = response.data;  
                this.$nextTick(function () {
                    $(".popular-slider").owlCarousel({
                       autoPlay: 10000,
                       items: this.carouselItems,
                       itemsDesktop : this.carouselItemsDesktop,
                       itemsDesktopSmall : this.carouselItemsDesktopSmall,
                       itemsTablet: this.carouselItemsTablet,
                       itemsTabletSmall: this.carouselItemsTabletSmall,
                       slideSpeed: 300,
                       navigation: true,
                       pagination: false,
                       navigationText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"]
                   });
$('.popular-slider .owl-controls').css({"top":"50%","z-index":"101","position":"absolute","left":this.padding+"px","right":this.padding+"px"})
$('.popular-slider .owl-buttons').css({"display":"flex","justify-content":"space-between","padding":"0x","font-size":"38px","font-weight":"bold","line-height":"1"})
$('.popular-slider .fa').css({"width":"38px","background":"#fff","border-radius":"50%","color":"#007791","text-align":"center","border-width":"0","transform":"translateY(-50%)","box-shadow":"0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1)"})
              });                               
            }.bind(this))               
        },
        computed: {
            padding: function(){
                        if(window.innerWidth > 762){
                            return -20;
                        }else{
                            return 15;
                        }
                    }
        }        
    }    
</script>

<style scoped>
.row {
    padding:35px;
    background:#f0f0f0;
}
@media (max-width: 500px){
    .row {
        padding:15px;
        background:#f0f0f0;
    }
}
        .mc-section-3 {
            padding: 20px 0 0;
        }
        .mc-section-3 .title-box {
            padding-bottom:12px;
        }
        .popular-slider {
            padding-top: 20px;
        }
        .popular-slider .owl-controls {
            top: 50%;
            z-index: 101;
        }
        .popular-slider .owl-buttons {
            position: absolute;
            right: 15px;
            left: 15px;
            display: flex;
            justify-content: space-between;
        }
        .popular-slider .owl-buttons div .fa {
            width: 50px;
            height: 50px;
            line-height: 42px;
            border: 2px solid #fff;
            font-size: 42px;
            color: #fff;
            background-color: rgba(0,0,0,0.15);
        } 
		.popular-slider .owl-buttons div .fa:hover {
                    border: 2px solid #fff0;
                    color: #fff;
		} 
		.mc-item-1:hover .content-item {
		  border-color: #fff !important;
		}
		.mc-item-1:hover .ft-item {
		  border-color: #fff;
		}
.popular-slider .mc-item-1 {
    box-shadow: 3px 3px 1px #ccc, -1px -1px 1px #ccc;
    margin: 0 15px 15px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 360px;
}
.mc-item {
    position: relative;
    background-color: #fff;
    min-height: 300px;
    text-align: center;
    color: #000;
    min-width: 206px;
}
.mc-item .image-heading {
    overflow: hidden;
    flex-grow: 1;
}
.mc-item .image-heading img {
    width: 100%;
    border-radius: 50%;
    padding: 20%;
    margin-top: -10%;
}

.mc-item .content-item {
    position: relative;
    padding: 0 10px;
    top: -35px;
    min-height: 85px;
    flex-grow: 3;
}
.mc-item h4 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight:bold;
    line-height: 1.3em;
    margin: 0;
    min-height:62px;
}
.mc-item h4 a {
  color: #000;
}
.mc-item h4:hover {
  color: #37abf2;
}
.mc-item h4:hover a {
  color: #37abf2;
}
.mc-item p {
    color: #000;
    margin: 0;
    font-size: 16px;
    line-height: 1.5em;
    min-height: 48px;
}
.mc-item .footer { 
    height: auto;
    margin: -10px 0 10px;
    padding: 0 10px;
    flex-grow: 1;
}
.mc-item .footer p {
    color: #000;
    margin: 0;
    font-size: 16px;
    line-height: 1.5em;
    min-height: auto;
}
</style>
