<template>
    <section class="mc-section-3 section">
        <div class="container">
            <div class="feature-course">
                <h4 class="title-box"><b>{{ titleBox }}</b></h4>
                <div class="spinner">
                    <center>
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw text-muted"></i>
                    </center>
                </div>
                <div class="row">
                    <div class="recommended-slider owl-theme">

<div class="mc-item mc-item-1" v-for="course in courses">
    <div class="image-heading">
        <a :href="course.url">
            <img :src="course.image" style="max-width: 100%;" :alt="course.slug">
        </a>
    </div>
    <div class="meta-categories"><a :href="courseCategory + course.category.slug">{{ course.category.name }}</a></div>
    <div class="content-item">
        <div class="image-author">
            <img :src="course.authorPicture" alt="">
        </div>
        <h4 style="height:40px;"><a :href="course.url">{{ course.title }}</a></h4>
        <div class="name-author">
            <a :href="course.authorUrl">{{ course.author.name }}</a>
        </div>
    </div>
    <hr style="margin:0">
    <star-rating 
        :inline="true" 
        :show-rating="false" 
        :increment="0.1" 
        :rating="parseFloat(course.average_rating)" 
        :read-only="true" 
        :star-size="parseInt(20)" 
        active-color="gold"
        style="margin-left:15px;">
    </star-rating>
    <div class="price-232" style="display:flex;justify-content:space-between;padding:15px 10px;font-size:18px;font-weight:600;color:#0d568a;">
        <div>
            <button 
                    type="button" 
                    class="btn btn-info btn-xs"
                    @click="setModal(domain + '/courses/' + course.slug + '/learn?ref=' + course.affiliateLink)"
                    v-if="course.affiliate">
                    {{ promoteCourse }}
            </button>
        </div>
        <div v-if="course.price">{{ currencySymbol + course.price }}</div>
        <div v-else>FREE</div>
    </div>
</div>
                       
                    </div>
                </div>                    
            </div>
        </div>
    </section>
</template>

<script>
    import StarRating from 'vue-star-rating'
    export default {
        components: {
            StarRating,
        },
        props:{
            titleBox: String,
            currencySymbol: String,
            promoteCourse: String,
            copyAffiliateLink: String,
            modalClose: String,
            domain: String,
            carouselItems: {type: Number, default: 4},
            carouselItemsDesktop : {type: Array, default: [1199,4]},
            carouselItemsDesktopSmall : {type: Array, default: [979,2]},
            carouselItemsTablet: {type: Array, default: [768,1]},
            carouselItemsTabletSmall: {type: Array, default: [600,1]},
        },

        data: function () {
            return {
                courses: [],
                courseCategory: "/courses?category=",
                Link: '',
            }
        },
        mounted: function() {
            axios.get('/courses/recommended/fetch').then(function (response) {
                this.courses = response.data;  
                this.$nextTick(function () {
                    $(".recommended-slider").owlCarousel({
                       autoPlay: 10000,
                       items: this.carouselItems,
                       itemsDesktop : this.carouselItemsDesktop,
                       itemsDesktopSmall : this.carouselItemsDesktopSmall,
                       itemsTablet: this.carouselItemsTablet,
                       itemsTabletSmall: this.carouselItemsTabletSmall,
                       slideSpeed: 300,
                       navigation: true,
                       pagination: false,
                       navigationText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"]
                   });
$('.recommended-slider .owl-controls').css({"top":"50%","z-index":"101","position":"absolute","left":this.padding+"px","right":this.padding+"px"})
$('.recommended-slider .owl-buttons').css({"display":"flex","justify-content":"space-between","padding":"15px","font-size":"38px","font-weight":"bold","line-height":"1"})
$('.recommended-slider .fa').css({"width":"38px","background":"#fff","border-radius":"50%","color":"#007791","text-align":"center","border-width":"0","transform":"translateY(-50%)","box-shadow":"0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1)"})
              });                               
            }.bind(this))               
        },
        methods: {
            setModal: function(affiliateLink){
                this.Link = affiliateLink;
                $('#affiliateLink #promoLink').val(this.Link);
                $('#affiliateLink').modal('show');
            }
        },
        computed: {
            padding: function(){
                        if(window.innerWidth > 762){
                            return -20;
                        }else{
                            return -15;
                        }
                    }
        }
    }    
</script>

<style scoped>
        .mc-section-3 {
            padding: 20px 0 0;
        }
        .mc-section-3 .title-box {
            padding-bottom:12px;
        }
        .recommended-slider {
            padding-top: 20px;
        }
        .recommended-slider .owl-controls {
            top: 50%;
            z-index: 101;
            position: absolute;
            background: red;
            left: 0;
            right: 0;
        }
        .recommended-slider .owl-buttons {
            position: absolute;
            right: 15px;
            left: 15px;
            display: flex;
            justify-content: space-between;
        }
        .recommended-slider .owl-buttons div .fa {
            width: 50px;
            height: 50px;
            line-height: 42px;
            border: 2px solid #fff;
            font-size: 42px;
            color: #fff;
            background-color: rgba(0,0,0,0.15);
        } 
		.recommended-slider .owl-buttons div .fa:hover {
                    border: 2px solid #fff0;
                    color: #fff;
		} 
		.mc-item-1:hover .content-item {
		  border-color: #fff !important;
		}
		.mc-item-1:hover .ft-item {
		  border-color: #fff;
		}
.recommended-slider .mc-item-1 {
    box-shadow: 3px 3px 1px #ccc, -1px -1px 1px #ccc;
    margin: 0 15px 15px;
    border: 1px solid #eee;
}
.mc-item {
  position: relative;
  background-color: #fff;
  min-height: 300px;
  min-width: 206px;
}
.mc-item .image-heading {
  overflow: hidden;
}
.mc-item .image-heading img {
  width: 100%;
}
.mc-item .meta-categories {
  position: absolute;
  top: 10px;
  left: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  padding: 0 8px;
  background-color: #0d568a;
}
.mc-item .meta-categories a {
  color: #fff;
}
.mc-item .content-item {
  position: relative;
  padding: 10px;
}
.mc-item h4 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #666;
  line-height: 1.3em;
  margin: 0;
}
.mc-item h4 a {
  color: #666;
}
.mc-item h4:hover {
  color: #37abf2;
}
.mc-item h4:hover a {
  color: #37abf2;
}
.mc-item .image-author {
  position: absolute;
  top: -20px;
  left: 10px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.mc-item .image-author img {
  width: 100%;
}
.mc-item .name-author {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #646472;
  margin-top: 18px;
}
.mc-item .name-author a {
  color: #0d568a;
  font-weight: 700;
}
.mc-item .ft-item {
  position: relative;
  padding: 18px 10px;
}
.mc-item .ft-item .price {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #37abf2;
  bottom: 15px;
  right: 15px;
  text-align: center;
}
.mc-item .ft-item .price .price-old {
  display: block;
  font-size: 16px;
  color: #a6a6a6;
  margin-top: 5px;
  text-decoration: line-through;
}
.mc-item .ft-item .view-info,
.mc-item .ft-item .comment-info {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  margin-right: 12px;
}
.mc-item .ft-item .view-info .icon,
.mc-item .ft-item .comment-info .icon {
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
}
.mc-item-1 .ft-item {
  border: 1px solid #eee;
}
.mc-item-1:hover .content-item {
  border-color: #ccc !important;
}
.mc-item-1:hover .ft-item {
  border-color: #ccc;
}

@media (min-width: 100px) and (max-width: 600px) {

    .mc-item .image-heading {
        width: 50%;
        float: left;
        padding-right: 5px;
    }

    .mc-item {
        min-height: 175px;
    }

    .mc-item .content-item {
        width: 50%;
        float: right;
    }

    .mc-item .content-item .image-author {
        top: 82px;
        left: -155px;
    }



    .mc-item .vue-star-rating {
        width: 50%;
        float: right;
    }

    .mc-item .price-232 {
        width: 50%;
        float: right;
    }
}
</style>