<template>
<section id="before-footer" class="before-footer course">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="mc-count-itemx">
                    <h5>{{header}}</h5>
                    <p>                        
                        <a v-for="tag in tags" :href="tag.href" class="tag-btn">{{tag.name}}</a>                        
                    </p>
                </div>
                
            </div>

        </div>
    </div>
</section>
</template>

<script>
    export default {
        props:{
            header: String,
        },

        data: function () {
            return {
                tags: [],
            }
        },
        mounted: function() {
            axios.get('/courses/tags/fetch').then(function (response) {
                this.tags = response.data;                         
            }.bind(this))               
        },

    }    
</script>

<style scoped>
p {
    margin: 0 0 11.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 42px;
    overflow: hidden;
}
.tag-btn {
    display: block;
    margin: 1px 3px;
    box-sizing: border-box;
}
</style>