<template>
    <div class="table-responsive">
        <MakeRelationBox
                v-bind:sponsor="sponsor"
                v-bind:sponsored="sponsored"
                v-bind:header="header"
        >
        </MakeRelationBox>
        <div class="row">
            <div class="col-md-6">
                <sponsorSelect1
                        v-bind:affiliates="affiliates"
                        v-bind:header="header"
                        v-bind:sponsor="sponsor"
                        v-bind:sponsored="sponsored"
                >
                </sponsorSelect1>
            </div>
            <div class="col-md-6">
                <sponsorSelect2
                    v-bind:affiliates="affiliates"
                    v-bind:header="header"
                    v-bind:sponsor="this.sponsor"
                    v-bind:sponsored="sponsored"
                >
                </sponsorSelect2>
            </div>
        </div>

        <div class="af_modal" v-show="modalShow">
            <div class="content">
                <p class="text-danger">{{header.confirm}}</p>
                <button class="btn btn-primary" v-on:click="removeSponsor(true)">Yes</button>
                <button class="btn btn-primary" v-on:click="removeSponsor(false)">No</button>
                <div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import sponsorSelect1 from './sponsor-select1'
    import sponsorSelect2 from './sponsor-select2'
    import MakeRelationBox from "./make-relation-box";


    export default {
        data: function () {
            return {
                id: '',
                lastName: '',
                ascending: true,
                sortColumn: '',
                pageSize: 10,
                currentPage: 1,
                rows: this.affiliates,
                modalShow: false,
                removableId: -1,
                sponsor: {
                    id: 0,
                    name: '...'
                },
                sponsored: {
                    id: 0,
                    name: '...'
                },
            }
        },
        props: {
            affiliates: Object,
            header: {
                type: Object, default: {
                    id: 'ID',
                    first_name: 'First Name',
                    last_name: 'Last Name',
                    sponsor: 'Sponsor',
                    actions: "Actions",
                    dissable_sponsor: 'dissable sponsor',
                    confirm: "Want to really disable a sponsor?",
                    color: 'white',
                    hover: 'green',
                    selectParentUser: 'Select Parent user ...',
                    selectChildUser: "Select Child user ...",
                    bg: '#333',
                }
            },
        },
        computed: {
            filteredList_id: function () {
                var tmp = this.id;
                return this.rows.filter(function (elem) {
                    if (tmp === '') return true;
                    else return elem.id.indexOf(tmp) == 0;
                })
            },
            filteredList_lastName: function () {
                var tmp = this.lastName.toLowerCase();
                return this.rows.filter(function (elem) {
                    if (tmp === '') return true;
                    else return elem.last_name.toLowerCase().indexOf(tmp) == 0;
                })
            },
            filteredList: function () {
                var lst1 = this.filteredList_id;
                var lst2 = this.filteredList_lastName;
                if (lst1.length == 0) return lst2;
                if (lst2.length == 0) return lst1;
                return lst1.filter(function (elem1) {
                    return lst2.find(function (elem2) {
                        return elem1 == elem2;
                    });
                });
            },
            pages: function () {
                return Math.ceil(this.filteredList.length / this.pageSize);
            },
        },
        watch: {
            pages: function (val) {
                this.currentPage = 1;
            },
        },
        components:{
            MakeRelationBox,
            sponsorSelect1,
            sponsorSelect2,
        },
        methods: {
            "sortTable": function sortTable(col, isnumber = false) {
                if (this.sortColumn === col) {
                    this.ascending = !this.ascending;
                } else {
                    this.ascending = true;
                    this.sortColumn = col;
                }

                var ascending = this.ascending;

                this.rows.sort(function (a, b) {
                    if (isnumber) {
                        if (parseInt(a[col]) > parseInt(b[col])) {
                            return ascending ? 1 : -1;
                        } else if (parseInt(a[col]) < parseInt(b[col])) {
                            return ascending ? -1 : 1;
                        }
                    } else {
                        if (a[col] > b[col]) {
                            return ascending ? 1 : -1;
                        } else if (a[col] < b[col]) {
                            return ascending ? -1 : 1;
                        }
                    }
                    return 0;
                })
            },
            "gotoPage": function gotoPage(val) {
                var i = (val == 0) ? 1 : (val > this.pages) ? this.pages : val;
                this.currentPage = i;
            },
            "get_rows": function get_rows() {
                var start = (this.currentPage - 1) * parseInt(this.pageSize);
                var end = start + parseInt(this.pageSize);
                return this.filteredList.slice(start, end);
            },
            "showModal": function showModal(id) {
                this.removableId = id;
                this.modalShow = true;
            },
            "removeSponsor": function removeSponsor(val) {
                if (val) {
                    var id = this.removableId;
                    for (var i = 0; i < this.rows.length; i++) {
                        if (this.rows[i].id === id) {
                            var j = i;
                            axios.put('/admin/affiliate-program/sposor-dissable', {
                                id: id
                            }).then(function (response) {
                                this.rows.splice(j, 1);
                            }.bind(this));
                        }
                    }
                }
                this.removableId = -1;
                this.modalShow = false;
            },
        },
    }
</script>

