<template>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-3">

            <h4>{{header.selectParentUser}}: {{sponsor.name}}</h4>


        </div>
        <div class="col-md-3">

            <h4>{{header.selectChildUser}}: {{sponsored.name}}</h4>

        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" v-on:click="makeRelation()">{{header.createAffiliation}}</button>
        </div>
        <div class="col-md-2">

        </div>

    </div>
    <br/>
</template>
<script>
    export default {
        data: function () {
            return {
                id: '',
                ascending: true,
                sortColumn: '',
                sponsor: {
                    id: 0,
                    name: '...'
                },
                sponsored: {
                    id: 0,
                    name: '...'
                }
            }
        },
        props: {
            affiliates: Object,
            sponsor: Object,
            sponsored: Object,
            header: {
                type: Object, default: {
                    id: 'ID',
                    first_name: 'First Name',
                    last_name: 'Last Name',
                    createAffiliation: 'Create Affiliation',
                    select_user: "Select User ...",
                }
            },
        },
        computed: {
            filteredList_id: function () {
                var tmp = this.id;
                return this.rows.filter(function (elem) {
                    if (tmp === '') return true;
                    else return elem.id.indexOf(tmp) == 0;
                })
            },
            filteredList_lastName: function () {
                var tmp = this.lastName.toLowerCase();
                return this.rows.filter(function (elem) {
                    if (tmp === '') return true;
                    else return elem.last_name.toLowerCase().indexOf(tmp) == 0;
                })
            },
            filteredList: function () {
                var lst1 = this.filteredList_id;
                var lst2 = this.filteredList_lastName;
                if (lst1.length == 0) return lst2;
                if (lst2.length == 0) return lst1;
                return lst1.filter(function (elem1) {
                    return lst2.find(function (elem2) {
                        return elem1 == elem2;
                    });
                });
            },
            pages: function () {
                return Math.ceil(this.filteredList.length / this.pageSize);
            },
        },
        watch: {
            pages: function (val) {
                this.currentPage = 1;
            },
        },

        methods: {
            "makeRelation": function makeRelation() {
                axios.put('/admin/affiliate-program/relation-create', {
                    sponsor_id: this.sponsor.id,
                    sponsored_id: this.sponsored.id
                }).then(function (response) {
                        alert('Success');
                    //console.log(response)
                    location.reload();
                }.bind(this)).catch(function (error) {
                    alert('error')
                });
            },
        },
    }
</script>